#container {
 width: 1000px;
 background-color:#ffffff;
 margin:0px auto;
}


#header { 
 text-align: center;  
 background-color:#D6C299;
 height: 131px;
 width: 1000px;
}

/*HTML 5 does not support the inline <center> tags, so it is best to get into the habit of using the "text-align: center;" code above in CSS*/


#menu {
 float: left;
 width: 1000px;
 background-color:#e0e0e0; 
 font-family: Verdana, Arial, Helvetica, sans-serif; color:#000000;
 font-size: 1.0em;  

}

#menu ul {
 margin:0;
 padding:0;
} 

#menu ul li {
 list-style: none;
 display: inline;
}

/*"#menu ul li" above removes the bullets.*/

#menu li a {     
 float: left; 
 padding: 10px 30px 10px 30px;
 border-right: 1px solid #000000;
}

/*"#menu ul a" above sets up the navigation block links. The "border-right" property sets up a black line border to the right of each rectangular link.*/




#breadcrumbs {
 padding: 10px 30px 10px 0px;
 font-size: 0.9em;
 font-family: Calibri, Optima, Arial, sans-serif;
}


#main-content {
 clear: left; 
 width: 900px;
 height: auto;
 padding: 15px 0px 0px 25px;
}


#footer {
 height: 20pt;
 font-size: 10pt;
 width: 1000px; 
 background-color:#D6C299;
 text-align: center; 
 margin:0px auto;
}


body {background-color:#b0c4de;} 

/*This changes the background color on the outside of everything that is in the container.  In this case, it provides a nice contrast with the white background of the main-content area and area to the left and right of the main-content area.*/ 

 
p {font-family: Calibri, Optima, Arial, sans-serif; text-indent: 25px; margin: 5px 30px 0px 0px; font-size: 1.0em;}

p.block {margin-left: 50px; margin-right: 20px; text-indent: 0px;}

p.leftpquote {float: left; width: 8.0em; background: #D6C299; padding:1.0em; margin: 0.4em 0.4em 0.0em 0.0em ; font-size: 1.1em;}

p.rightpquote {float: right; width: 8.0em; background: #D6C299; padding:1.0em; margin: 0.4em 0.0em 0.0em 0.4em ; font-size: 1.1em;}

/* "pquote" is for "pull quote" or the call outs.*/ 


p.display-field {display: inline-block; padding-left: 50px; text-indent: -50px;}

/* This code is used for the hanging indents in the Work Cited page. */


.imageleftcaption {font-size:80%; text-align:center; float:left; margin: 0px 10px 0px 0px; position:relative; top:5px; font-family: Calibri, Optima, Arial, sans-serif;}

.imagerightcaption {font-size:80%; text-align:center; float:right; margin: 0px 0px 0px 0px; position:relative; top:5px; font-family: Calibri, Optima, Arial, sans-serif;}


h1,h2,h3,h4,h5,h6 {font-family: Verdana, Arial, Helvetica, sans-serif;}


h4 {font-size:1.2em;}

h5 {font-size:1.1em;}

h6 {font-size:0.8em; margin-bottom: 10px;
}


a:link {text-decoration: none; color: #3300ff; font-size: 0.9em; font-family: Verdana, Arial, Helvetica, sans-serif;}

a:visited {text-decoration: none; color: #3399ff; font-size: 0.9em; font-family: Verdana, Arial, Helvetica, sans-serif;}

a:hover {text-decoration: underline; color: #ee99bb; font-size: 0.9em; font-family: Verdana, Arial, Helvetica, sans-serif;}

a:active {text-decoration: underline; color:#000000; font-size: 0.9em; font-family: Verdana, Arial, Helvetica, sans-serif;}


.italic {font-style:italic;}
